@media (min-width: 340px) and (max-width: 360px) {
    div.produto1 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 170px;
        height: 210px;
        margin-top: 10px;
    }

}

@media (max-width:420px) {

    div.produto1 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 180px;
        height: 210px;
        margin-top: 10px;
    }
}

@media (min-width:421px) and (max-width:475px) {
    div.produto1 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    span.textoprodutos {
        font-size: 15px;
    }

    span.textoconsult {
        font-size: 13px;
    }

    h1.sub-topicos {
        font-size: 20px;
    }
}

@media (min-width:475px) and (max-width:550px) {

    div.produto1 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 200px;
        height: 210px;
        margin-top: 10px;
    }

    span.textoprodutos {
        font-size: 15px;
    }

    span.textoconsult {
        font-size: 13px;
    }

    h1.sub-topicos {
        font-size: 20px;
    }

}


@media (min-width:1000px) and (max-width:1300px) {
    .material-symbols-outlined {
        display: none;
    }

    .logo {
        width: 230px;
        height: 105px;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    nav.menu {
        background: white;
    }

    nav.menu ul {
        background-color: white;
        padding: 10px;
    }

    nav.menu ul li.primeira-li {
        align-items: center;
        padding: 0px 7px;
        margin-top: 35px;
    }

    nav.menu ul li.primeira-li a {
        font-size: 13px;
    }

    nav.menu ul li a {
        color: orangered;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #ferragens {
        width: 100vw;
        height: 300px;
        margin-top: 55px;
    }

    .produtos {
        height: 200px;
    }

    .produtosgeral {
        justify-content: center;
    }

    .sec-inside {
        justify-content: center;
    }

    div.produto1 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .orcamento {
        width: 50vw;
        margin: auto;
    }

    .email {
        width: 50vw;
        margin: auto;
    }
}

@media (min-width:1301px) and (max-width:1532px) {
    .material-symbols-outlined {
        display: none;
    }

    .logo {
        width: 230px;
        height: 105px;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    nav.menu {
        background: white;
    }

    nav.menu ul {
        background-color: white;
    }

    nav.menu ul li.primeira-li {
        align-items: center;
        padding: 0px 10px;
        margin-top: 20px;
    }

    nav.menu ul li.primeira-li a {
        font-size: 15px;
    }

    nav.menu ul li a {
        color: orangered;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    #ferragens {
        width: 100vw;
        height: 300px;
        margin-top: 55px;
    }

    .produtos {
        height: 200px;
    }

    .produtosgeral {
        justify-content: center;
    }

    .sec-inside {
        justify-content: center;
    }

    div.produto1 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .orcamento {
        width: 50vw;
        margin: auto;
    }

    .email {
        width: 50vw;
        margin: auto;
    }
}

@media (min-width:1533px) {
    .material-symbols-outlined {
        display: none;
    }

    .logo {
        width: 230px;
        height: 105px;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    nav.menu {
        background: white;
    }

    nav.menu ul {
        background-color: white;
        z-index: 0;
    }

    nav.menu ul li a {
        color: orangered;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        position: relative;
        text-decoration: none;
    }
    nav.menu ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: orangered;
        transform: scaleX(0); 
        transform-origin: right;
        transition: transform 0.3s ease; 
    }

    nav.menu ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
    #ferragens {
        width: 100vw;
        height: 400px;
        margin-top: 55px;
    }

    .produtos {
        height: 200px;
    }

    .produtosgeral {
        justify-content: center;
    }

    .sec-inside {
        justify-content: center;
    }

    div.produto1 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto2 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto3 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto4 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto5 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto6 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto7 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto8 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto9 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto10 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto11 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto12 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto13 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto14 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto15 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto16 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto17 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto18 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto19 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto20 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto21 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto22 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto23 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto24 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto25 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto26 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto27 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto28 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .produto29 {
        text-align: center;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }

    .orcamento {
        width: 50vw;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .email {
        width: 50vw;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p.ultimo-p{
        margin-top: 30px;
    }
}

.textoprodutos {
    font-size: 14px;
}

.textoconsult {
    font-size: 11px;
}

















@media (min-width: 600px) {
    #burguer {
        display: none;
        /* Escondido em telas maiores */
    }

    nav.menu {
        position: relative;
        max-width: none;
        width: auto;
        height: auto;
        top: 0;
        transform: none;
        transition: none;
        overflow: visible;
    }

    nav.menu ul {
        display: flex;
        justify-content: center;
    }

    nav.menu ul li {
        border: none;
        padding: 10px 20px;
    }
}