/* Ícone do menu hamburguer */
#burguer {
    font-size: 30px;
    color: #BFBFBF;
    background: linear-gradient(to bottom, #F24F13,#8f2b07);
    cursor: pointer;
    display: block;
    right: 20px;
    z-index: 1001;
    text-align: center; /* Centraliza o ícone */
    width: 100vw;

}

/* Menu lateral */
nav.menu {
    background:linear-gradient(to bottom, #F24F13,#8f2b07);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%; /* Ocupa toda a altura da tela */
    z-index: 1000;
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
    transform: translateX(-100%); /* Esconde o menu fora da tela inicialmente */
    transition: transform 0.3s ease; /* Animação suave */
}

nav.menu.show {
    transform: translateX(0); /* Desliza o menu para a visualização */
}

nav.menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav.menu ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}