*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

header img{
   width: 100vw;
}
a{
    text-decoration: none;
}
.topicos{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    background: linear-gradient(to top, #732002,#F24F13);
    color: #BFBFBF;
    border-top: 1px solid #732002;
    border-bottom: 1px solid #732002;
    padding: 10px;
    margin: 30px 0px;
    font-size: 20px;
}

.sub-topicos{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    color: #732002;
    border-top: 1px solid #732002;
    border-bottom: 1px solid #732002;
    padding: 10px;
    margin: 30px 0px;
    font-size: 15px;
}


.primeira-ul{
    list-style: none;
}

section.ferragens{
    height: 100vh;
}

.produtos{
    height: 100px;
}
.produtosgeral{
    display: flex;
    flex-wrap: wrap;
}
div.produto1{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.produto2{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.produto3{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.produto4{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.produto5{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.produto6{
    text-align: center;
    width: 150px;
    height: 180px;
    margin-top: 10px;
}
.textoprodutos{
    font-size: 11px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #12365A;
    text-align: center;
    font-weight: bold;
    display: block;
}

.textoconsult {
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-align: center;
    display: block;
    font-weight: bold;
}

.sec-inside{
    display: flex;
    flex-wrap: wrap;
}